*{
    margin: 0px;
    padding: 0px;
}

.blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 900px;
    margin-bottom: 20px;
}

.blocks2{
    display: flex;
    border: 1px solid;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 700px;
    height: 400px;
}

.inner-block{
    width: 100px;
    height: 30px;
    margin-top: 25px;
    background-color: green;
    margin: 20px;
    color: yellow;
    font-size: 40px;
}