.blocks {
    width: 100px;
    height: 100px;
    padding: 10px;
    background: green;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}